In [2]:
import pandas as pd

In [3]:
df= pd.read_csv("cities.csv")
df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
...,...,...,...,...,...,...,...,...,...,...
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [4]:
df.to_html('data.html')

In [15]:
df_humid = df.loc[(df['Humidity'] > 90) | (df['Humidity'] < 20)]
df_humid

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
2,2,goulburn,20,AU,1528905078,91,-34.75,149.72,44.32,10.11
5,5,martyush,92,RU,1528905306,94,56.40,61.89,55.03,9.33
9,9,tuatapere,0,NZ,1528905312,100,-46.13,167.69,38.92,3.40
12,12,punta arenas,0,CL,1528902000,100,-53.16,-70.91,35.60,9.17
...,...,...,...,...,...,...,...,...,...,...
533,533,pagudpud,90,PH,1528902000,100,18.56,120.79,77.00,13.87
538,538,calamar,92,CO,1528905629,100,1.96,-72.65,70.87,2.95
540,540,tabas,36,IR,1528905630,11,33.60,56.92,94.27,6.98
542,542,scalea,36,IT,1528905631,100,39.82,15.79,70.06,5.30
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64

df_lowhumid = df.loc[df['Humidity'] < 20]
df_lowhumid

In [16]:
df_clouds = df.loc[(df['Cloudiness'] == 0) | (df['Cloudiness'] == 100)]
df_clouds

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,jacareacanga,0,BR,1528902000,62,-6.22,-57.76,89.60,6.93
1,1,kaitangata,100,NZ,1528905304,94,-46.28,169.85,42.61,5.64
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
7,7,broken hill,0,AU,1528905311,88,-31.97,141.45,44.50,7.31
8,8,harnosand,0,SE,1528903200,44,62.63,17.94,60.80,13.87
...,...,...,...,...,...,...,...,...,...,...
516,516,mbeya,0,TZ,1528905593,40,-8.91,33.47,71.05,3.85
524,524,acari,0,BR,1528905599,48,-6.44,-36.64,84.10,15.26
526,526,troitskiy,0,RU,1528903800,48,45.15,38.14,82.40,6.71
531,531,sokoni,0,CD,1528905646,37,-12.89,28.78,74.56,4.07
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

df_maxclouds = df.loc[df['Cloudiness'] == 100]
df_maxclouds

In [20]:
df_temp = df.loc[(df['Max Temp'] > 99) | (df['Max Temp'] < 40)]
df_temp

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
9,9,tuatapere,0,NZ,1528905312,100,-46.13,167.69,38.92,3.40
12,12,punta arenas,0,CL,1528902000,100,-53.16,-70.91,35.60,9.17
13,13,tasiilaq,75,GL,1528901400,60,65.61,-37.64,39.20,2.24
24,24,pevek,0,RU,1528905321,71,69.70,170.27,36.94,6.98
25,25,gao,24,ML,1528905321,16,16.28,-0.04,110.02,4.97
39,39,qaanaaq,32,GL,1528905330,100,77.48,-69.36,31.45,6.31
43,43,mar del plata,0,AR,1528905297,100,-46.43,-67.52,32.53,7.31
73,73,upernavik,92,GL,1528905350,100,72.79,-56.15,29.29,3.74
78,78,bilma,0,NE,1528905351,12,18.69,12.92,110.47,4.63
91,91,mataura,24,NZ,1528905299,79,-46.19,168.86,25.69,3.18
118,118,dikson,32,RU,1528905373,100,73.51,80.55,31.09,13.13
128,128,clyde river,75,CA,1528902660,100,70.47,-68.59,35.60,21.92
129,129,ancud,20,CL,1528905381,90,-41.87,-73.83,39.10,2.73
130,130,beringovskiy,0,RU,1528905381,88,63.05,179.32,39.37,3.40
137,137,iqaluit,90,CA,1528902000,96,63.75,-68.52,35.60,20.80
139,139,severo-kurilsk,92,RU,1528905387,100,50.68,156.12,38.02,16.26
161,161,ilulissat,90,GL,1528901400,97,69.22,-51.10,32.00,4.70
166,166,okhotsk,12,RU,1528905400,100,59.36,143.24,38.02,2.17
186,186,komsomolskiy,0,RU,1528905413,84,67.55,63.78,37.39,9.22
192,192,pangnirtung,90,CA,1528902000,93,66.15,-65.72,35.60,4.70
193,193,paamiut,68,GL,1528905416,100,61.99,-49.67,35.32,12.46
227,227,massakory,0,TD,1528905431,46,13.00,15.73,100.21,6.98
228,228,arlit,0,NE,1528905432,14,18.74,7.39,110.92,4.74
231,231,lavrentiya,0,RU,1528905432,76,65.58,-170.99,35.95,8.43
233,233,te anau,8,NZ,1528905433,80,-45.41,167.72,27.22,2.84
244,244,maniitsoq,68,GL,1528905442,97,65.42,-52.90,36.31,5.53
248,248,longyearbyen,90,NO,1528901400,86,78.22,15.63,33.80,18.34
266,266,castro,0,CL,1528905454,99,-42.48,-73.76,39.73,2.73
275,275,gamba,92,CN,1528905459,91,28.28,88.52,32.35,2.28
282,282,adre,20,TD,1528905465,16,13.47,22.20,103.27,8.66
295,295,baghdad,0,IQ,1528902000,14,33.30,44.38,104.00,4.70
317,317,araouane,0,ML,1528905479,15,18.90,-3.53,111.46,5.75
318,318,tilichiki,0,RU,1528905480,88,60.47,166.10,37.93,2.62
346,346,rio gallegos,20,AR,1528902000,86,-51.62,-69.22,33.80,5.82
353,353,leningradskiy,0,RU,1528905501,88,69.38,178.42,33.79,21.74
359,359,jumla,88,NP,1528905507,95,29.28,82.18,37.75,2.51
384,384,coihaique,80,CL,1528902000,85,-45.58,-72.07,33.80,2.24
429,429,ostrovnoy,92,RU,1528905546,82,68.05,39.51,36.58,18.28
437,437,adrar,0,DZ,1528902000,12,27.87,-0.29,109.40,11.41
440,440,tombouctou,24,ML,1528905550,18,16.77,-3.01,110.65,4.74
443,443,yar-sale,76,RU,1528905551,89,66.83,70.83,36.22,14.81
466,466,san carlos de bariloche,75,AR,1528902000,86,-41.13,-71.31,26.60,10.29
497,497,sabha,24,LY,1528905575,10,27.03,14.43,112.45,9.66
514,514,egvekinot,0,RU,1528905592,71,66.32,-179.17,37.30,2.51
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97

In [26]:
df_wind = df.loc[(df['Wind Speed'] > 20) | (df['Wind Speed'] < 5)]
df_wind

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
3,3,lata,76,IN,1528905305,89,30.78,78.62,59.89,0.94
4,4,chokurdakh,0,RU,1528905306,88,70.62,147.90,32.17,2.95
9,9,tuatapere,0,NZ,1528905312,100,-46.13,167.69,38.92,3.40
13,13,tasiilaq,75,GL,1528901400,60,65.61,-37.64,39.20,2.24
18,18,khandbari,80,NP,1528905315,67,27.38,87.21,44.59,1.39
...,...,...,...,...,...,...,...,...,...,...
538,538,calamar,92,CO,1528905629,100,1.96,-72.65,70.87,2.95
543,543,san andres,68,PH,1528905632,100,13.32,122.68,83.47,22.64
544,544,muisne,92,EC,1528905633,84,0.61,-80.02,76.90,4.63
545,545,ati,20,TD,1528905633,25,13.21,18.34,104.53,4.97
546,546,san luis,0,AR,1528905472,53,-33.30,-66.34,42.43,2.62

In [29]:
df_humid.to_html('humid.html', border=0, classes='table-striped table')
df_clouds.to_html('clouds.html',border=0, classes='table-striped table')
df_temp.to_html('temp.html',border=0, classes='table-striped table')
df_wind.to_html('wind.html',border=0, classes='table-striped table')